<!-- inspired by https://gist.github.com/maximebf/3986659 -->
{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) -%}
    {% set inline_ = '' -%}

    {% if field.type  == 'BooleanField' %}
        <div class="checkbox">
          <label>
            {{ field(**kwargs) }}
            {{ field.label.text|safe }}
          </label>
        </div>

    {% elif field.type == 'RadioField' %}
      {% for subfield in field %}
        <div class="radio">
          <label>
            {{ subfield(**kwargs) }}
            {{ subfield.label.text|safe }}
          </label>
        </div>
      {% endfor %}

    {% else -%}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% set placeholder = '' -%}
            {% if not with_label -%}
                {% set placeholder = field.label.text -%}
            {% endif -%}

            {% set class_ = 'form-control' -%}
            {% if field.type == 'FileField' -%}
                {% set class_ = class_ + ' input-file' %}
            {% endif -%}


            {% if with_label -%}
                <label for="{{ field.id }}">
                    {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
                </label>
            {% endif -%}

            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}

            {% if field.errors -%}
                <span class="help-block">{{ field.errors|join(', ') }}</span>
            {% endif -%}

            {% if field.description -%}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>

    {% endif -%}
{% endmacro -%}
