{% extends "layout.html" %}

{% block body %}

<table class="table table-bordered table-striped">
  <thead>
    <th>Job</th>
    <th>Item</th>
    <th>State</th>
    <th>Build Steps</th>
    <th>Moar</th>
  </thead>
  <tbody>
{% for job in jobs -%}
<tr>
  <td>
    {{job.taskname}}
  </td>
  <td>{{job.item|truncate(50, True)}}</td>
  <td>{{job.current_state}}</td>
  <td>
    {% for step in job.build_steps %}
    {#      <a href="{{buildbot_url}}{{step.log_url}}"> #}
        <span title="{{step.name}}"
        {% if step.status == 'INPROGRESS' %}
          class="glyphicon glyphicon-cog"
        {% elif step.status == 'OK' %}
          class="glyphicon glyphicon-ok"
        {% elif step.status == 'NOT OK' %}
          style="color:#B80000" class="glyphicon glyphicon-remove"
        {% else %}
          class="glyphicon glyphicon-minus"
        {% endif %}
        ></span>
      {#      </a> #}
    {% endfor %}
    <a style="float:right" title="Build Logs" href="{{buildbot_url}}{{job.link_build_log}}">
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </td>
  <td>
    <a href="{{ url_for('main.show_job', uuid=job.uuid)}}">Detail</a>
  </td>
</tr>
{% endfor -%}
  </tbody>
</table>

<ul class="pager">
  {% if prev %}
    <li class="previous"><a href="{{prev}}">&larr; Newer Jobs</a></li>
  {% endif %}
  {% if next %}
    <li class="next"><a href="{{next}}">Older Jobs &rarr;</a></li>
  {% endif %}
</ul>

{% endblock %}
