{% extends "layout.html" %}

{% block body %}
<h3>Job info</h3>

<div class="container">

<div class="row">
  <div class="col-md-2"><strong>State</strong></div>
  <div class="col-md-9">{{job.current_state}}</div>
</div>

<br />

<div class="row">
  <div class="col-md-2"><strong>Taskname</strong></div>
  <div class="col-md-9">{{job.taskname}}</div>
</div>

<div class="row">
  <div class="col-md-2"><strong>Item</strong></div>
  <div class="col-md-9">{{job.item}}</div>
</div>

<div class="row">
  <div class="col-md-2"><strong>Item type</strong></div>
  <div class="col-md-9">{{job.item_type}}</div>
</div>

<div class="row">
  <div class="col-md-2"><strong>Arch</strong></div>
  <div class="col-md-9">{{job.arch}}</div>
</div>

<br />

<div class="row">
  <div class="col-md-2"><strong>Triggered at</strong></div>
  <div class="col-md-9">{{job.t_triggered}}</div>
</div>

<div class="row">
  <div class="col-md-2"><strong>Started after</strong></div>
  <div class="col-md-9">{{job.started_after}}</div>
</div>

<div class="row">
  <div class="col-md-2"><strong>Finished in</strong></div>
  <div class="col-md-9">{{job.build_took}}</div>
</div>

<br />

<div class="row">
  <div class="col-md-2"><strong>FedMsg data</strong></div>
  <div class="col-md-9">{{job.fedmsg_data}}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Slave</strong></div>
  <div class="col-md-9">
    <a href="{{buildbot_url}}/buildslaves/{{job.slavename}}">
      {{job.slavename}}
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-2"><strong>Logs</strong></div>
  <div class="col-md-9"><a href="{{buildbot_url}}{{job.link_build_log}}"><span class="glyphicon glyphicon-new-window"></span></a></div>
</div>

<div class="row">
  <div class="col-md-2"><strong>Artifacts</strong></div>
  <div class="col-md-9"><a href="{{artifacts_base_url}}/{{job.uuid}}"><span class="glyphicon glyphicon-new-window"></span></a></div>
</div>

<br />

<div class="row">
  <div class="col-md-2"><strong>ResultsDB</strong></div>
  <div class="col-md-9"><a href="{{resultsdb_url}}/jobs/{{job.uuid}}"><span class="glyphicon glyphicon-new-window"></span></a></div>
</div>

</div>

<h3>Buildbot steps</h3>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Logs</th>
    </thead>
    <tbody>
    {% for step in job.build_steps %}
      <tr>
        <td>{{step.name}}</td>
        <td>{{step.status}}</td>
        <td><a href="{{buildbot_url}}{{step.log_url}}"><span class="glyphicon glyphicon-new-window"></span></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
